<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eminesa.photoofspace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.AppName"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyOfSpace">
        <activity
            android:name="com.eminesa.photoofspace.presenters.VideoViewActivity"
            android:exported="false" />
        <activity
            android:name="com.eminesa.photoofspace.presenters.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>